:root {
    --bg-color: #ffebbe;
    --primary-text-color: #1e1b14;
    --mid-color: #b2b69d;
    --link-color: #003366;
    --lower-link-color: #800000;

    --head-font-family: "Inter", sans-serif, "Helvetica Neue", Arial, sans-serif;
    --head-letter-spacing: -0.1pt;
}



body {
    margin: 0;
    padding: 0;
    background: var(--bg-color); /* 背景颜色 */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    line-height: 1.5;
    color: var(--primary-text-color);
    height: 100vh;
}

.container {
    background-color: var(--mid-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin-top: 7%;
    padding: 3%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav {
    margin:0 20px 0 20px;
}
/* 导航按钮设置 */
.nav button {
    padding: 5px 18px 3px 18px;
    border: 3px solid var(--bg-color);
    border-bottom: 0px;
    border-radius: 12px 12px 0 0;
    background-color: var(--primary-text-color);
    cursor: pointer;
    font-size: 15px;
	font-family: "Inter", sans-serif;
	font-weight:600;
    transition: background 0.3s;
    color: var(--bg-color)
}

.nav button:hover {
    background-color: var(--mid-color);
}

.nav button.active{
    color: var(--primary-text-color);
    background: var(--bg-color);
}

.main {
    margin: none;
    background-color: var(--bg-color);
    display: flex;
    border-radius: 8px;
    width: 85%;
    max-width: 1200px;
    padding: 20px;
}

p {
   font-size: 16px;
   margin: 2px 0 2px 0;
   letter-spacing: 0.2pt;
}

h3 {
    font-size: 24px;
    margin: 12px 0 8px 0px;
    font-family: var(--head-font-family);
    letter-spacing: var(--head-letter-spacing);
}

h4 {
    font-size: 20px;
    letter-spacing: var(--head-letter-spacing);
    font-family: var(--head-font-family);
    margin: 8px 0 6px 0;
}

h5 {
    font-size: 16px;
    letter-spacing: var(--head-letter-spacing);
    font-family: var(--head-font-family);
    margin: 12px 0 4px 0;
}

div.notes-block {
    margin: 0px 0 30px 20px;
}

div.notes-list {
    margin: 10px 0 10px 20px;
}


/* a有三种classes: 空(默认为finished), to-add, to-continue. 分别用蓝色, 划线灰色和灰色表示 */
a {
    color: var(--link-color);
}

a.to-add {
    color :var(--mid-color);
    text-decoration: line-through;
}

a.to-continue {
    color: var(--lower-link-color);
}

/* 控制显示内容, 无active不显示, 有active显示, 通过js的showContent函数控制 */
.page{
    display: none;
}
.page.active {
    display: block;
}